#imagem1 { 
        width: 50%;
        height: 50%;
        border-top: 10px solid #0400F5;
        border-bottom: 10px solid #0400F5;
        border-left: 10px solid #11EB1C;
        border-right: 10px solid #11EB1C;
         }


p      {
        font-family: 'Viaoda Libre', cursive;
       }
p      {
        font-size: 25px;
       }
header { 
         font-family: 'Playfair Display', serif;
         }
header { font-size: 40px;
         }
header {
        color: white;
        background-color: black;
       }
        
footer {
        color: white;
        background-color: black;
       }